# Exclude everything
/*

/src/version.h
!/src/version.h.in
/src/plugin-support.c
!/src/plugin-support.c.in

!/scripts
!.editorconfig
!.clangd

# Except for default project files
!/.github
!/build-aux
!/cmake
!/data
!/src
!.clang-format
!.cmake-format.json
!.gitignore
!buildspec.json
!CMakeLists.txt
!CMakePresets.json
!LICENSE
!README.md

# Exclude lock files
*.lock.json

# Exclude macOS legacy resource forks
.DS_Store

# Exclude CMake build number cache
/cmake/.CMakeBuildNumber
